<div>
  <div>
    <h1>
      List of users
    </h1>
  </div>
</div>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Private?</th>
    <th></th>
    <th></th>
  </tr>

  <% @list_of_users.each do |a_user| %>
  <tr>
    <td>
      <%= a_user.username %>
    </td>

    <% if a_user.private %>
      <td>
        Yes
      </td>
    <% else %>
      <td>
        No
      </td>
    <% end %>

    <% if session.fetch(:user_id) == nil %>
      <td>
      </td>
    <% else %>
      <% current_user = session.fetch(:user_id).to_i %>
      <% if (a_user.is_follower_of(current_user) == 1) || (a_user.is_followed_by(current_user) == 1) %>
        <td>
          <a href="">Un-Follow</a>
        </td>
      <% elsif (a_user.is_follower_of(current_user) == 2) || (a_user.is_followed_by(current_user) == 2) %>
        <td>
          Request sent. <a href="">Cancel</a>
        </td>
      <% elsif (a_user.is_follower_of(current_user) == 3) || (a_user.is_followed_by(current_user) == 3) %>
        <td>
          Got to figure this out....
        </td>
      <% elsif (a_user.is_follower_of(current_user) == 4) || (a_user.is_followed_by(current_user) == 4) %>
        <td>
          <form action="/create_follow_request">
            
          </form>
          <a href="">Follow</a>
        </td>
      <% end %>
    <% end %>

    <td>
      <a href="/users/<%= a_user.username %>">Show details</a>
    </td>
  </tr>
  <% end %>
</table>